

.classj{
    background-color:#e29de0;
    text-align:center;
    box-shadow: 1px 1px 5px
}

.fard{
    font-family: 'K2D' , sans-serif;
    font-size:300%;
    color:white;
    word-spacing: 20px;
}

.caro{
    width:100%;
    height:500px;
}

#footerimg{
    align-items: center;
    font-style:normal;
    color:white;
    margin-bottom:5%;
}

.footer{
    background-color:#e29de0;
}

body{ 
    background-image:url(img/th.png);
    background-size:100%;
}

.vl {
    border-left: 3px solid #e29de0;
    height: 500px;
}

.number{
    left: 6.87%;
    right: 69.63%;
    top: 50.06%;
    bottom: 12.58%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: white;
}

.title{
    color:#fffeff; 
    font-size:60px; 
    text-align:center;
}


.classp{
    background-color: gray;
    margin-left: 480px;
    margin-left: -480px;
}
.classs{
    background-color: gray;
    margin-right: 90px;
    text-align: center;
}
.classc{
    background-color: gray;
    margin-left: 90px;
}
h1{
    color:white;
    font-family: 'Allura Script', sans-serif;
}
.board{
    
    height:300px;
    width:200px;
}

.vertical {
    border-left: 2px solid rgb(70,54,54);
    height: 210px;
    position: absolute;
    left: 32%;
    top: 1;
    bottom: -42%;
  }
  .vert{
    border-left: 2px solid rgb(70,54,54);
    height: 80px;
    position: absolute;
    left: 50%;
    top: 1;
    bottom: -60%;
  }

.card-body{
    border-radius:15px;
    background-color:#f0f0f0
}

.About{
    height: 400px;
    width: 400px;
}

.TOC {
    text-decoration:none;
    color:#705454;
    font-size:1.5vw;
}

.line{
    border-left: 3px solid rgb(255, 130, 213);
    height: 26vw;
    position:absolute;
    left: 17%;
    top: 52.6vw;
    z-index: 9;
}
.line2{
    background-color: black;
    width: 20vw;
    height: .05vw;
    line-height: 50%;
    margin-left: 16vw;
}